.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url(plate.png);
  height: 800px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center; 


}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
}

.jumbotron p  {
  font-size: 20px;
  color: #fff;
  font-family: 'Shift', sans-serif;
  text-align: center;
}

.jumbotron.container a {
  text-align: center;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
    }

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

#Ingredients {
    width: 20em;  height: 2em;
    position: center;
}

ol  {
    list-style-type: None;
    list-style-position: inside;
    background-image:url(i/bullet.gif) no-repeat center left;
    padding-left:20px;
    display:inline;
}

#myDIV {
    //border: 2px solid;
    display: inline-flex;
    border-radius: 25px;
    background-color: transparent;
    position: relative;
}

input[type="text"]{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size : 14pt;
  font-weight: bold;
  color: #800000;
}
